{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="wrapper">
    <div class="header-img"> </div>
    <div class="news">
        <h1>Наши последние новости</h1>
        <p>УРААА, теперь у нас есть скидки. Пенсионерам 15%. Ветеранам боевых действий 20%. Чернобыльцам 10%.
            Просто хорошим мальчикам 50%</p>
        <p>Половина врачебного состава уехала в Грузию. У нас открыты куча вакансий!!!!</p>
        <p>Теперь у нас появилось хирургическое отделение</p>
        <p>Минздрав выделил нам 5000000 на улучшение нашей больницы. Ура товарищи</p>
        <p>Изменился режим работы</p>
    </div>

    <div class="karta">
        <h1>Как нас найти?</h1>
        <h1><img src="https://bagra.ru/logos/572125bryanskiy_gosudarstvennyy_injenerno_tehnologicheskiy_universitet.png" width="650px"></h1>
        <h1>График работы</h1>
        <h3>Понедельник: 6:00 - 21:00</h3>
        <h3>Вторник: 6:00 - 21:00</h3>
        <h3>Среда: 6:00 - 21:00</h3>
        <h3>Четверг: 6:00 - 21:00</h3>
        <h3>Пятница: 6:00 - 21:00</h3>
        <h3>Суббота: УРА выходной</h3>
        <h3>Воскресенье: УРА второй выходной</h3>
    </div>
</div>
{% endblock %}