{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="h1">
<h1> Наш состав <br> </h1>
<div class="vrach">
    <div class="vrachi">
        <img src="https://sun1-98.userapi.com/impg/HRe6uGW4Pv1Bxm3wXM1TEHz0LLFZzzLmDQlvWg/cocUb9rBIN4.jpg?size=667x1000&quality=96&sign=3ee4f8cae797a402db9f55fe92607dbe&type=album" height="400" width="300">
        <h2>Шляпкин Никита Юрьевич - Заместитель главного врача</h2>
        <p>Дата рождения: 5 сентебря 2000 г.</p>
        <p>Занятость: работник нашей больницы (студент БГИТУ)</p>
        <p>Телефон: 8-999-220-89-30</p>
        <p>Почта: nekit96547@yandex.ru</p>
    </div>
    <div class="vrachi">
        <img src="https://sun1-26.userapi.com/impg/DSydGncGtvPTayepxrSQGUSm5EAlPqFLzjCYWw/vPdpIXVHN78.jpg?size=1342x1792&quality=96&sign=93ce402f8f9a12e0d22f7e6724a900f7&type=album" height="400" width="400">
        <h2>Мотора Владислав - Главный Врач</h2>
    </div>
        <div class="vrachi">
        <img src="https://sun9-82.userapi.com/impg/RV5ub_F1WaNU0Or0cSc6yUtV1yWMetpzGeKGNA/PR6c72cxdC4.jpg?size=933x1080&quality=96&sign=79649548a25bb3e04add363a3de83d33&type=album.jpg" height="400" >
        <h2>Николай Рябцев - Хирург</h2>
        </div>
        <div class="vrachi">
        <img src="https://sun9-67.userapi.com/impg/roEOS4DHUG0O0Izg60bRft1FIEgmV7o8f2SNDQ/Q_RQAPsTfNQ.jpg?size=1075x1080&quality=95&sign=871e6231b85a73cbef219d009203c4a9&type=album" height="400" >
        <h2>Юлиан Шипик - Патологоанатом</h2>
        </div>
        <div class="vrachi">
        <img src="https://sun9-79.userapi.com/impg/aiOZ4cJ2PJb7WKfD72IhZ2Et4gM6PRssgHMajw/Y2GZTTo-7Bw.jpg?size=1600x900&quality=95&sign=8cde038c9a34340f240044cbb16d9599&type=album.jpg" height="400" width="400" >
        <h2>Никита Луговой - Медсестра</h2>
        </div>
        <div class="vrachi">
        <img src="https://sun9-21.userapi.com/impf/c622622/v622622293/41a62/vK-EJbnFyrw.jpg?size=1152x2048&quality=96&sign=55bfb4547630289e3c05bf6eab2c132d&type=album" height="400" width="400" >
        <h2>Никита Ермишин - Медбрат</h2>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}